services:
  keycloak:
    image: quay.io/keycloak/keycloak:{{ keycloak_version }}
    container_name: keycloak
    restart: unless-stopped
    command: start
    environment:
      # Database
      KC_DB: {{ keycloak_db_vendor }}
      KC_DB_URL: jdbc:postgresql://{{ keycloak_db_host }}:{{ keycloak_db_port }}/{{ keycloak_db_name }}
      KC_DB_USERNAME: {{ keycloak_db_user }}
      KC_DB_PASSWORD: {{ keycloak_db_password }}

      # Admin
      KEYCLOAK_ADMIN: {{ keycloak_admin_user }}
      KEYCLOAK_ADMIN_PASSWORD: {{ keycloak_admin_password }}

      # HTTP
      KC_HTTP_ENABLED: "true"
      KC_HTTP_PORT: "{{ keycloak_service_port }}"
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
      KC_PROXY: "edge"

      # Features
      KC_HEALTH_ENABLED: "true"
      KC_METRICS_ENABLED: "true"

      # Timezone
      TZ: Europe/Stockholm
    ports:
      - "{{ keycloak_service_port }}:{{ keycloak_service_port }}"
    volumes:
      - keycloak-data:/opt/keycloak/data

volumes:
  keycloak-data:
