---
timezone: UTC
public_domain: viljo.se
loopia_api_user: "{{ vault_loopia_api_user }}"
loopia_api_password: "{{ vault_loopia_api_password }}"
traefik_acme_email: "admin@{{ public_domain }}"
traefik_dns_challenge_provider: loopia
loopia_dns_interface: "{{ wan_bridge }}"
loopia_dns_records:
  - host: "@"
    ttl: 600
  - host: links
    ttl: 600
  - host: meet
    ttl: 600
  - host: cloud
    ttl: 600
  - host: media
    ttl: 600
  - host: keycloak
    ttl: 600
management_bridge: vmbr0
wan_bridge: vmbr2
public_bridge: vmbr3
dmz_subnet: 172.16.10.0/24
dmz_prefix: 24
dmz_gateway: 172.16.10.101
dmz_dns_servers:
  - 172.16.10.101
  - 1.1.1.1
dmz_netmask: 255.255.255.0
dmz_host_ip: 172.16.10.102
# Loopia DDNS runs as systemd service on Proxmox host, monitoring firewall container (ID: 101)
loopia_ddns_enabled: true
loopia_ddns_container_id: 101  # References firewall container to get WAN IP from
loopia_ddns_interface: eth0
loopia_ddns_interval: 15m
debian_template_image: "debian-13-standard_13.1-2_amd64.tar.zst"
debian_template_url: "http://download.proxmox.com/images/system/{{ debian_template_image }}"
debian_template_file: "/var/lib/vz/template/cache/{{ debian_template_image }}"
management_ip: 192.168.1.3
management_netmask: 255.255.0.0
management_gateway: 192.168.1.1
proxmox_root_authorized_keys:
  - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIWIfp3bKk+Re3aegfll17zNKahfav3TxEoUkNBBZo9l anders@Anderss-MacBook-Pro.local"
