version: '3.9'

services:
  portainer:
    image: portainer/{{ portainer_edition }}:{{ portainer_version }}
    container_name: portainer
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    ports:
      - "{{ portainer_service_port_http }}:9000"
      - "{{ portainer_service_port_https }}:9443"
{% if portainer_deploy_agent %}
      - "{{ portainer_service_port_edge }}:8000"
{% endif %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{ portainer_data_volume }}:/data
    command: --http-enabled

volumes:
  {{ portainer_data_volume }}:
