version: '3.9'

services:
  zipline:
    image: ghcr.io/diced/zipline:latest
    container_name: zipline
    restart: unless-stopped
    environment:
{% for key, value in zipline_env.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
    ports:
      - "{{ zipline_service_port }}:{{ zipline_service_port }}"
    volumes:
      - zipline_uploads:/zipline/uploads
      - zipline_public:/zipline/public
    extra_hosts:
      - "postgres:172.16.10.50"

volumes:
  zipline_uploads:
  zipline_public:
