services:
  gitlab-runner:
    image: {{ gitlab_runner_image }}
    container_name: gitlab-runner
    restart: unless-stopped
    privileged: true

    environment:
      - TZ={{ gitlab_runner_timezone }}

    volumes:
      - {{ gitlab_runner_base_path }}/config:/etc/gitlab-runner
      - /var/run/docker.sock:/var/run/docker.sock

    labels:
      - "com.centurylinklabs.watchtower.enable=true"

    networks:
{% for network in gitlab_runner_networks %}
      - {{ network }}
{% endfor %}

networks:
{% for network in gitlab_runner_networks %}
  {{ network }}:
    external: true
{% endfor %}
