# Managed by Ansible
KEYCLOAK_ADMIN={{ keycloak_admin_user }}
KEYCLOAK_ADMIN_PASSWORD={{ keycloak_admin_password }}
KEYCLOAK_HOME={{ keycloak_install_dir }}
KC_HEALTH_ENABLED=true
KC_METRICS_ENABLED=true
KC_LOG=console,file
KC_FEATURES=token-exchange
KC_DB=postgres
KC_DB_USERNAME={{ keycloak_db_username }}
KC_DB_PASSWORD={{ keycloak_db_password }}
KC_DB_URL_HOST={{ keycloak_db_host }}
KC_DB_URL_PORT={{ keycloak_db_port }}
KC_DB_URL_DATABASE={{ keycloak_db_database }}
JAVA_OPTS_APPEND="-Xms{{ keycloak_max_heap }}m -Xmx{{ keycloak_max_heap }}m"
{% for key, value in keycloak_extra_env.items() %}
{{ key }}={{ value }}
{% endfor %}
