# Managed by Ansible
db=postgres
db-username={{ keycloak_db_username }}
db-password={{ keycloak_db_password }}
db-url-host={{ keycloak_db_host }}
db-url-port={{ keycloak_db_port }}
db-url-database={{ keycloak_db_database }}
hostname={{ keycloak_hostname_url }}
hostname-url=https://{{ keycloak_hostname_url }}
hostname-admin-url=https://{{ keycloak_hostname_url }}
hostname-strict=true
hostname-strict-backchannel=true
http-enabled=true
http-port={{ keycloak_http_port }}
https-port={{ keycloak_service_port }}
http-relative-path=/
proxy=edge
log-level=INFO
metrics-enabled=true
health-enabled=true
{% if keycloak_tls_enabled %}
https-certificate-file={{ keycloak_tls_cert_file }}
https-certificate-key-file={{ keycloak_tls_key_file }}
{% endif %}
