---
# Links Portal deployment tasks

- name: Create links portal directories
  ansible.builtin.command: >
    pct exec {{ links_portal_lxc_id }} -- mkdir -p {{ item }}
  loop:
    - "{{ links_portal_base_path }}"
    - "{{ links_portal_base_path }}/html"
  changed_when: true

- name: Generate index.html from template
  ansible.builtin.template:
    src: index.html.j2
    dest: /tmp/links-portal-index.html
    mode: '0644'

- name: Generate nginx.conf from template
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: /tmp/links-portal-nginx.conf
    mode: '0644'

- name: Generate docker-compose.yml from template
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: /tmp/links-portal-docker-compose.yml
    mode: '0644'

- name: Copy index.html to LXC
  ansible.builtin.command: >
    pct push {{ links_portal_lxc_id }} /tmp/links-portal-index.html {{ links_portal_base_path }}/html/index.html
  changed_when: true

- name: Copy nginx.conf to LXC
  ansible.builtin.command: >
    pct push {{ links_portal_lxc_id }} /tmp/links-portal-nginx.conf {{ links_portal_base_path }}/nginx.conf
  changed_when: true

- name: Copy docker-compose.yml to LXC
  ansible.builtin.command: >
    pct push {{ links_portal_lxc_id }} /tmp/links-portal-docker-compose.yml {{ links_portal_base_path }}/docker-compose.yml
  changed_when: true

- name: Stop existing links-portal container if running
  ansible.builtin.command: >
    pct exec {{ links_portal_lxc_id }} -- docker stop {{ links_portal_container_name }}
  register: stop_result
  changed_when: stop_result.rc == 0
  failed_when: false

- name: Remove existing links-portal container if exists
  ansible.builtin.command: >
    pct exec {{ links_portal_lxc_id }} -- docker rm {{ links_portal_container_name }}
  register: rm_result
  changed_when: rm_result.rc == 0
  failed_when: false

- name: Deploy links portal container
  ansible.builtin.command: >
    pct exec {{ links_portal_lxc_id }} -- bash -c 'cd {{ links_portal_base_path }} && docker compose up -d'
  register: portal_deploy
  changed_when: true

- name: Wait for links portal to be healthy
  ansible.builtin.command: >
    pct exec {{ links_portal_lxc_id }} -- docker ps --filter name={{ links_portal_container_name }} --format {% raw %}'{{.Status}}'{% endraw %}
  register: portal_status
  until: "'Up' in portal_status.stdout"
  retries: 6
  delay: 5

- name: Display links portal status
  ansible.builtin.debug:
    msg:
      - "Links portal is running"
      - "URL: https://{{ links_portal_subdomain }}.{{ public_domain }}"
