[Interface]
PrivateKey = {{ client_private_key }}
Address = {{ client_ip }}/32
DNS = {{ wireguard_dns }}

[Peer]
PublicKey = {{ server_public_key.stdout }}
{% if client_preshared_key is defined %}
PresharedKey = {{ client_preshared_key }}
{% endif %}
Endpoint = vpn.{{ public_domain }}:{{ wireguard_port }}
AllowedIPs = {{ wireguard_allowed_networks | join(', ') }}, {{ wireguard_network }}
PersistentKeepalive = 25
