[Interface]
Address = {{ wireguard_tunnel_address | default('192.168.100.1/24') }}
ListenPort = {{ wireguard_listen_port }}
{% if wireguard_private_key %}PrivateKey = {{ wireguard_private_key }}{% endif %}
SaveConfig = true

# Enable IP forwarding and NAT for VPN clients to access management network
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

{% for peer in wireguard_peer_configs %}
[Peer]
# {{ peer.name | default('Peer') }}
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips }}
{% if peer.endpoint is defined and peer.endpoint %}Endpoint = {{ peer.endpoint }}{% endif %}
{% if peer.persistent_keepalive is defined and peer.persistent_keepalive %}PersistentKeepalive = {{ peer.persistent_keepalive }}{% endif %}

{% endfor %}
