dn: olcOverlay=memberof,{{ ldap_database_dn }}
changetype: add
objectClass: olcConfig
objectClass: olcOverlayConfig
objectClass: olcMemberOf
olcOverlay: memberof
olcMemberOfRefInt: TRUE
olcMemberOfDangling: ignore
olcMemberOfGroupOC: {{ ldap_memberof_group_oc }}
{% if ldap_memberof_member_attr %}
olcMemberOfMemberAttr: {{ ldap_memberof_member_attr }}
{% endif %}
{% if ldap_memberof_memberof_dn %}
olcMemberOfMemberOfDN: {{ ldap_memberof_memberof_dn }}
{% endif %}
