dn: {{ ldap_user_dn }}
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
uid: {{ ldap_user.uid }}
cn: {{ ldap_user.display_name | default(ldap_user.given_name ~ ' ' ~ ldap_user.sn) }}
sn: {{ ldap_user.sn }}
givenName: {{ ldap_user.given_name }}
mail: {{ ldap_user.mail }}
userPassword: {{ ldap_user_hashed_password }}
displayName: {{ ldap_user.display_name | default(ldap_user.given_name ~ ' ' ~ ldap_user.sn) }}
